body
{
}


.gap-0 {
	gap: 0 !important;
}

.gap-1 {
	gap: 0.25rem !important;
}

.gap-2 {
	gap: 0.5rem !important;
}

.gap-3 {
	gap: 1rem !important;
}

.gap-4 {
	gap: 1.5rem !important;
}

.gap-5 {
	gap: 3rem !important;
}

.desktop{
	display:block;
}

.mobile{
	display:none;
}

/*--------- For all mobile device screen--------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}