
:root {
	/*--primeryColor: #313349;*/
	--primeryColor: #474a6b;
	--secoundColor: #D5D4F4;
	--textColor: #F1F1F1; /*white*/
	--textGrayColor: #606770; /*gray(footer)*/
	--sunModeBgColor: #E9E9E9;
	--sectionBkColor: #25292E;
	--blackColor: #000000;
	--navbarShadow: #000;
	--textFontFamily: sans-serif;
}

/*-------Common style--------------------*/
.nav-brand-text, .navbar-nav .nav-link, .footer-link, .footer-section h4 {
	font-family: var(--textFontFamily);
	font-style: normal;
	letter-spacing: 0;
	line-height: 1.5;
}

.btn-outline-primary, .btn-primary{
	border-color:var(--primeryColor);
	background:#fff;
}

.btn-outline-primary {
	color: var(--primeryColor);
	
}

.btn-primary {
	color: #fff;
	background-color: var(--primeryColor);
	
}

	.btn-outline-primary:hover, .btn-primary:hover{
		border-color:var(--secoundColor);
		background-color:var(--secoundColor);
	}

	/*----------------------Header --------------------------*/
	.navbar {
		box-shadow: 0px 8px 20px 2px var(--navbarShadow);
	}

.navSearch-searchGlass, .navSearch-kdbSection {
	position: absolute;
}

.navSearch-searchGlass {
	left: .7rem;
	top: .5rem;
}

.navSearch-kdbSection {
	/*position: absolute;*/
	right: 1.5rem;
}

.navSearch-input{
	padding-left:30px;
	border-radius:20px;
}

.light-dark-modeStyle{
	font-size:18px;
}

.fa-arrow-up-right-from-square{
	font-size:13px;
}

.light-dark-mode{

}

	.light-dark-mode:hover {
		background-color: var(--sunModeBgColor);
		border-radius: 50%;
	}

.navbar-nav .nav-item.light-dark-mode .nav-link:hover {
	color: var(--blackColor);
}

.nav-brand-text {
	font-size: 16px;
	font-weight: 600;
	color: var(--blackColor);
}

.navbar-nav .nav-link {
	font-size: 16px;
	font-weight: 500;
	
}

.navbar-light .navbar-nav .nav-link {
	color: var(--blackColor);
}

	.nav-brand-text:hover, .navbar-light .navbar-nav .nav-link:hover {
		color: var(--secoundColor);
	}

/*--------------------Footer ---------------------------*/

.footer-section{
	padding-top:30px;
}

	.footer-section h4{
		font-size:18px;
		font-weight:700;
	}

	.footer-section ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.footer-section ul li:not(:first-child) {
			margin-top:.5rem;
		}

	.footer-link {
		font-size: 16px;
		font-weight: 400;
		color: var(--textGrayColor);
	}

	.footer-link:hover {
		color: var(--secoundColor);
	}

	/*---------------- main Section -----------------------*/
	/*------------------------Home ----------------------------*/

.sectionOne {
	background: rgb(126,131,180);
	background: -moz-linear-gradient(360deg, rgba(126,131,180,1) 0%, rgba(207,208,227,1) 35%, rgba(239,239,246,1) 100%);
	background: -webkit-linear-gradient(360deg, rgba(126,131,180,1) 0%, rgba(207,208,227,1) 35%, rgba(239,239,246,1) 100%);
	background: linear-gradient(360deg, rgba(126,131,180,1) 0%, rgba(207,208,227,1) 35%, rgba(239,239,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e83b4",endColorstr="#efeff6",GradientType=1);
}

.banner {
	height: 100dvh;
}

.banner-card {
	border: 10px solid var(--primeryColor);
	border-radius: 20px;
}

	.banner-card .card-body {
		min-height: 300px;
		z-index: 1;
	}

	.banner-card h1 {
		font-size: 65px;
		font-weight: 700;
		margin-bottom:1rem;
		color: var(--primeryColor);
	}

	.banner-card p {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 1.5rem;
		color: var(--primeryColor);
	}

	.banner-card .banner-img {
		width: 280px;
		height: 280px;
		position:absolute;
		left:25%;
		z-index:-1;
		background-image: url('../Images/reactNavBannerImg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		filter:brightness(1.8);
	}

.sectionTwo{
	background:var(--sectionBkColor);
	padding-top:3rem;
	padding-bottom:3rem;
}

	.sectionTwo .fa-icon{
		font-size:40px;
		color:var(--textColor);
	}

	.sectionTwo h3 {
		font-size: 30px;
		font-weight: 500;
		color: var(--textColor);
	}

	.sectionTwo p {
		font-size: 18px;
		font-weight: 500;
		text-align: justify;
		color: gray;
	}

	body {
	}