
/*--------- For all mobile device screen--------*/
@media only screen and (min-width: 320px) and (max-width: 480px)
{
	.navbar{
		padding-left:5px;
	}

	.navbar-light .navbar-toggler {
		border: none;
		padding: .25rem 5px;
	}

	.navbar .form-inline{
		width:40px;
	}

	.navSearch-input{
		padding:20px;
	}

	.navSearch-searchGlass{
		left:.8rem;
	}

	.banner {
		height: 80dvh;
	}

	.banner-card {
		border: none;
		background: transparent;
	}

		.banner-card .banner-img{
			left:10%;
		}

		.banner-card h1{
			font-size:55px;
			text-align:center;
		}

		.banner-card p{
			font-size:18px;
			text-align:center;
		}

		.banner-card .btn{
			border-radius:8px;
		}

		.banner-card .btn-outline-primary {
			border-width: 4px;
			padding: 8px 22px;
		}

		.banner-card .btn-primary {
			padding: 8px 42px;
			margin-top:15px;
			margin-right: 8px;
		}

	.sectionThree-box{
		height:auto;
	}

		.sectionThree-box .sectionThree-para{
			font-size:15px;
		}
}